.support {
  width: 18%;
  margin-left: 8px;
  &-list {
    background-color: #f1f1f1;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px 5px;
  }
  &-item {
    display: flex;
    column-gap: 10px;
    align-items: center;
    margin-bottom: 5px;
  }
  &-icon {
    display: inline-block;
    min-width: 35px;
    height: 40px;
  }
  &-desc {
    display: flex;
    flex-direction: column;
    color: #0a0a0a;
    & > span:first-child {
      font-weight: 400;
      font-size: 12px;
    }
    & > span:last-child {
      font-size: 10px;
    }
  }
  &-img {
    width: 100%;
    height: auto;
  }
}
